<ul class="paginator">
    {% if page.has_previous %}
    <li class="paginator__item paginator__item--prev">
        <a href="?page={{ page.previous_page_number }}"><i class="icon ion-ios-arrow-back"></i></a>
    </li>
    
    {% endif %}
    {% if page.number != 1 %}
        <li class="paginator__item"><a href='?page={{ page.previous_page_number }}'>{{ page.number|add:"-1" }}</a></li> 
    {% endif %}
    <li class="paginator__item paginator__item--active"><a href="#">{{ page.number }}</a></li>
    {% if page.has_next %}
        <li class="paginator__item"><a href="?page={{ page.next_page_number }}">{{ page.number|add:"1" }}</a></li>
    {% endif %}
    {% if page.has_next %}
    <li class="paginator__item paginator__item--next">
        <a href="?page={{ page.next_page_number }}"><i class="icon ion-ios-arrow-forward"></i></a>
    </li>
    {% endif %}
</ul>